.dummy-add-comment {
  display: grid;
  padding: var(--size-2);
  background-color: var(--surface-container-high);
  border-radius: var(--size-2);
}

.field {
  display: grid;
  gap: var(--size-1);
}
.dummy-comment-textarea {
  min-block-size: 3lh;
  padding: var(--size-2);
  margin-block-end: var(--size-2);
  border-radius: var(--size-2);
  background-color: var(--surface-container-high);
  border: 1px solid var(--outline-variant);
  color: var(--on-surface-variant);
}

.dummy-comment-textarea,
.add-button {
  font-family: inherit;
  font-size: inherit;
}
.add-button {
  justify-self: flex-end;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  border: none;
  padding: var(--size-1) var(--size-2);
  border-radius: var(--size-1);
  filter: brightness(70%);
}
@media screen and (prefers-color-scheme: light) {
  .add-button {
    filter: brightness(130%);
  }
}

@media screen and (prefers-color-scheme: dark) {
  .add-button {
    filter: brightness(70%);
  }
}
