@import url("../field.css");

.eye-button {
  align-self: center;
  background-color: unset;
  border: none;
  display: flex;
  align-items: center;
}
.eye {
  inline-size: 1.5em;
  block-size: 1.5em;
  fill: var(--on-tertiary-container);
}

.error-border-color {
  border-color: var(--error);
}
