.error-modal {
  background-color: var(--error-container);
  color: var(--on-error-container);
  border: none;
  border-radius: var(--size-2);
}
.info {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  margin-block-end: var(--size-2);
}
.error-icon {
  inline-size: 2em;
  block-size: 2em;
}

.message {
  color: var(--on-error-container);
}

.error-modal > button {
  background-color: var(--error);
  color: var(--on-error);
  border: none;
  border-radius: var(--size-1);
  padding: var(--size-1) var(--size-2);
  display: block;
  margin: 0 auto;
}

@media screen and (prefers-color-scheme: light) {
  .error-icon {
    filter: brightness(0) saturate(100%) invert(16%) sepia(43%) saturate(2891%)
      hue-rotate(328deg) brightness(57%) contrast(120%);
  }
}

@media screen and (prefers-color-scheme: dark) {
  .error-icon {
    filter: brightness(0) saturate(100%) invert(94%) sepia(66%) saturate(2412%)
      hue-rotate(291deg) brightness(123%) contrast(103%);
  }
}
