.post-preview {
  padding: var(--size-3);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  border-radius: var(--size-3);
  background-color: var(--surface-container-low);
}

.post-preview:hover {
  box-shadow: 0px 0px 10px var(--scrim);
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.body {
  inline-size: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.title {
  color: var(--primary);
}
.author {
  color: var(--secondary);
  font-weight: 600;
}
