.add-comment {
  display: grid;
  justify-content: flex-start;
  padding: var(--size-2);
  max-inline-size: fit-content;
  background-color: var(--surface-container-high);
  border-radius: var(--size-2);
}

.field {
  display: grid;
  gap: var(--size-1);
}
.comment-textarea {
  padding: var(--size-2);
  margin-block-end: var(--size-2);
  border-radius: var(--size-2);
  background-color: var(--surface-container-high);
  border: 1px solid var(--outline-variant);
  color: var(--secondary);
  resize: vertical;
  font-family: inherit;
  font-size: inherit;
}
.comment-textarea:focus {
  outline: none;
  border-color: var(--outline);
}
.comment-textarea::placeholder {
  color: var(--on-surface-variant);
}

.add-button,
.cancel-button {
  border: none;
  padding: var(--size-1) var(--size-2);
  border-radius: var(--size-1);
}
.add-button {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}
.cancel-button {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}
.add-button-spinning {
  composes: add-button;
}

.action-buttons {
  display: flex;
  gap: var(--size-1);
}
