.icon {
  inline-size: 1.5em;
  fill: var(--on-primary);
}
.post {
  word-break: break-word;
}
.post img {
  max-inline-size: 100%;
  max-block-size: auto;
}
.post > header {
  margin-block-end: var(--size-2);
}
.author {
  font-weight: 600;
  color: var(--primary);
}
.title {
  color: var(--secondary);
}
.updated-at {
  color: var(--tertiary);
}
.body {
  line-height: 1.2lh;
  word-spacing: 0.15rem;
  letter-spacing: 0.05rem;
}

.header {
  display: grid;
  gap: var(--size-2);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
