.post > header {
  margin-block-end: var(--size-2);
}
.author {
  font-weight: 600;
  color: var(--primary);
  font-size: var(--fs-1);
}
.title {
  color: var(--secondary);
}
.updated-at {
  color: var(--tertiary);
  font-size: var(--fs-1);
}
.body {
  line-height: 1.2lh;
  word-spacing: 0.15rem;
  letter-spacing: 0.05rem;
}
