.error-page {
  display: grid;
  justify-content: center;
  align-content: center;
  block-size: 100vh;
}

.error {
  padding: var(--size-2);
}
.header {
  background-color: var(--error-container);
  color: var(--on-error-container);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-2);
  padding: var(--size-2);
  border-radius: var(--size-1) var(--size-1);
}

.error-icon {
  inline-size: 2rem;
  block-size: 2rem;
}
.heading {
  text-align: center;
}

.go-to-home {
  border-radius: unset;
  background-color: unset;
}
