.app {
  --main-nav-top-gap: var(--size-2);
  margin-block-start: var(--main-nav-top-gap);
  display: flex;
  flex-direction: column;
  gap: var(--size-2-rev);
}

.app > :first-child {
  position: sticky;
  top: var(--main-nav-top-gap);
}
.center {
  align-self: center;
}
