.account-page {
  margin-inline: var(--size-2);
  display: grid;
  align-items: center;
  font-size: 1.1rem;
}

.account-page>* {
  position: relative;
  padding-block-end: var(--size-2);
  margin-block-end: var(--size-2);
}

.account-page>*::after {
  content: '';
  border-block-end: 1px solid var(--outline);
  --line-length: 60vw;
  inline-size: var(--line-length);
  position: absolute;
  top: 100%;
  left: calc(50% - (var(--line-length) / 2));
}

.username {
  font-weight: 600;
}

.user-logout {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  align-items: center;
}

.logout-button {
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
  border: none;
  border-radius: var(--size-1);
  padding: var(--size-1) var(--size-2);
  justify-self: flex-start;
}

.spinner {
  inline-size: unset;
  display: flex;
  justify-content: center;
}

.spinner>svg>g {
  stroke: var(--on-surface);
}